body,
html {
	margin: 0;
	height: 100%;
	width: 100%;
}

#map {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 60px 30px 1fr;
	grid-template-columns: 100%;
	grid-template-areas:
		"header"
		"tabs"
		"writing";
}

.header {
	grid-area: header;
	padding: 10px;
	background-color: #333;
	color: white;
	font-size: 2em;
}

.sidebar {
	color: white;
	grid-area: sidebar;
	padding: 10px;
	background-color: #555;
	overflow: auto;
}

.content {
	grid-area: content;
	background-color: aqua;
}

.footer {
	grid-area: footer;
	padding: 10px;
	background-color: rgb(175, 175, 175);
}

.tabs{
	grid-area: tabs;
	background-color: antiquewhite;

}

.writing{
	grid-area: writing;
	background-color: aqua;
}